%h2 Register

= error_messages_for :user

- form_for @user do |f|
  %fieldset
    %ol
      %li
        = f.label :username
        = f.text_field :username
      %li
        = f.label :email_address
        = f.text_field :email_address
      %li
        = f.label :password
        = f.password_field :password
      %li
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      %li
        = f.submit "Register"
        or
        = link_to "cancel", root_path
