!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    = csrf_meta_tag
    %title= APP[:app_name]
    = stylesheet_link_tag "screen.css"
    /[if IE]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag "jquery.rails.js", "application.js"

  %body
    %nav
      %ul
        - if current_user
          %li= link_to "Log out", logout_path
        - else
          %li= link_to "Log in / Register", login_path
        

    %header
      %h1= link_to APP[:app_name], root_path

    %section#content

      - [:success, :notice, :error].each do |flash_type|
        - if flash[flash_type]
          %div{:class => "flash_#{flash_type}"}= flash[flash_type]

      = yield

    %footer
      = APP[:app_name]
